:root {
  --primary: #ff4d4d;
  --secondary: #ff914d;
  --dark: #1f1f1f;
  --light: #f9f9f9;
  --card: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--light);
  color: var(--dark);
}
