.auth-container {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://th.bing.com/th/id/OIP.Qqjsm-8d2mhgf4Tm1NzgRAHaDt?w=291&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3"); 
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
  animation: slideFade 0.7s ease;
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #ff4d4d;
  font-size: 26px;
  font-weight: 700;
}

.auth-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
  transition: 0.3s ease;
}

.auth-box input:focus {
  outline: none;
  border-color: #ff4d4d;
  box-shadow: 0 0 0 2px rgba(255, 77, 77, 0.15);
}

.auth-box button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(to right, #ff4d4d, #ff914d);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-box button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(255, 77, 77, 0.35);
}

.auth-box p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.auth-box span {
  color: #ff4d4d;
  cursor: pointer;
  font-weight: 600;
}

.auth-box span:hover {
  text-decoration: underline;
}

.payment-row {
  display: flex;
  gap: 10px;
}

.payment-row input {
  flex: 1;
}

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 480px) {
  .auth-box {
    padding: 25px;
  }

  .auth-box h2 {
    font-size: 22px;
  }
}
